body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;

  background-color: #8ba597;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  color: #ffffff;
  text-decoration-color: #ffffff;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #8ba597;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #000000;
  text-decoration: none;
}

.info-list,
.footer-info-list-item {
  list-style: none;
}

p {
  text-align: left;
}
.catalog-item-image p,
.feature-item {
  text-align: center;
}

.slide h2 {
  font-size: 60px;
  line-height: 60px;
}

.catalog-prise p {
  font-size: 16px;
  line-height: 22px;
}

.catalog-price {
  font-size: 45px;
  line-height: 45px;
}

.catalog-measure {
  font-size: 40px;
  text-transform: none;
}

.advertising-container1 {
  width: 560px;
  height: 229px;
  background-color: #880327;
  background-image: url("../img/bg1.png");
}

.advertising-container2 {
  width: 560px;
  height: 229px;
  background-color: #5d3a2d;
  background-image: url("../img/bg2.png");
}

.info {
  width: 743px;
  height: 433px;
  background-image: url("../img/bg3.png");
  color: black;
}

.blog {
  width: 560px;
  height: 220px;
  background-image: url("../img/ice-bg.png");
  background-repeat: no-repeat;
  color: black;
}

.subscribe {
  width: 560px;
  background-color: #f8f7f4;
  background-image: url(../img/post-bg.png); 
  border-radius: 11px;
  min-height: 220px;
}

.blog-href  {
  font-size: 24px;
  line-height: 30px;
  color: black;
  text-decoration: black;
  text-decoration: underline;
}

.feedback-form {
  width: 300px;
  height: 300px;
  padding: 20px 20px;
  color: black;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.button,
.button-subscribe {
  padding: 10px 20px;
  background: linear-gradient(#f26843, #ed5b3d, #e74b36);
  text-decoration: none;
  border: 1px solid #e74b36;
  border-radius: 20px 20px;
  box-shadow: 0 5px 4px -3px #ac1000;
}

.button:hover,
.button:focus,
.button-subscribe:hover,
.button-subscribe:focus {
  text-decoration: #ffffff;
}

.button:hover,
.button-subscribe:hover {
  padding: 10px 20px;
  background: #f48468;
  border: 1px solid #f48468;
  text-shadow: 0px 1px 2px #ac1000;
  box-shadow: 0 5px 4px -3px #ac1000;
}

.button:focus,
.button-subscribe:focus {
  background-color: #f48468;
  border: 1px solid #f26843;
  text-shadow: 1px 1px 2px #ac1000;
  box-shadow: 0px -5px 4px -3px #ac1000;
}
.catalog-item,
.breadcrumbs {
  list-style: none;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
    color: #ffffff;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 50px;
    float: left;
}

ul.pagination li a.active {
    background-color: #ffffff;
    color: black;
    border-radius: 50px;
}

ul.pagination li a:hover:not(.active) {
  background-color: #9db1a5;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  color: black;
  background-color: #ffffff;
}
