
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #ffffff;

  background-color: #8ba597;
  background-position: top center;
  background-repeat: no-repeat;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

a {
  color: #ffffff;
  text-decoration-color: #ffffff;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #8ba597;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #000000;
  text-decoration: none;
}

.info-list,
.footer-info-list-item {
  list-style: none;
}

p {
  margin: 0;
}

.catalog-item-image p,
.feature-item {
  text-align: center;
  margin: 0;
  font-size: 12px;
}

.container-slider {
  height: 522px;
  border: 1px solid darkgreen;
}

.slide h2 {
  font-size: 60px;
  line-height: 60px;
  margin: 0;
}

.catalog-prise p {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}

h3 p {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  position: absolute;
  width: 250px;
  margin-top: -40px;
  text-align: center;
}

.catalog-price {
  font-size: 45px;
  line-height: 45px;

}

.catalog-measure {
  font-size: 40px;
  text-transform: none;
}

.blog-main {
  width: 1145px;
  height: 220px;
  border: 2px solid #1a7c6d;
  margin-left: 26px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  margin-bottom: 33px;
}

.info {
  width: 1145px;
  height: 305px;
  background-image: url("../img/bg3.png");
  color: black;
  border: 2px solid #1a7c6d;
  margin-left: 26px;
  border-radius: 16px;
  margin-bottom: 33px;
}

.blog {
  width: 560px;
  height: 220px;
  background-image: url("../img/ice-bg.png");
  background-repeat: no-repeat;
  color: black;
}

.subscribe {
  width: 560px;
  background-color: #f8f7f4;
  background-image: url(../img/post-bg.png);
  border-radius: 11px;
  min-height: 220px;
  padding-top: 1px;
  color: #000000;
  background-repeat: no-repeat;
  margin-left: auto;
}

.subscribe-wrapper {
  width: 511px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 29px 18px 29px 21px;
  background-color: #f8f7f4;
  min-height: 151px;
  vertical-align: middle;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.blog-href  {
  font-size: 24px;
  line-height: 30px;
  color: black;
  text-decoration: black;
  text-decoration: underline;
}

.contacts {
  border: 1px solid #f40c0c;
}

.feedback-form {
  width: 300px;
  height: 300px;
  padding: 20px 20px;
  color: black;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.mail-footer {
  width: 1145px;
  height: 100px;
  border: 2px solid #1a7c6d;
  margin-left: 26px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button,
.button-subscribe {
  padding: 10px 20px;
  background: linear-gradient(#f26843, #ed5b3d, #e74b36);
  text-decoration: none;
  border: 1px solid #e74b36;
  border-radius: 20px 20px;
  box-shadow: 0 5px 4px -3px #ac1000;
}

.button:hover,
.button:focus,
.button-subscribe:hover,
.button-subscribe:focus {
  text-decoration: #ffffff;
}

.button:hover,
.button-subscribe:hover {
  padding: 10px 20px;
  background: #f48468;
  border: 1px solid #f48468;
  text-shadow: 0px 1px 2px #ac1000;
  box-shadow: 0 5px 4px -3px #ac1000;
}

.button:focus,
.button-subscribe:focus {
  background-color: #f48468;
  border: 1px solid #f26843;
  text-shadow: 1px 1px 2px #ac1000;
  box-shadow: 0px -5px 4px -3px #ac1000;
}
.catalog-item,
.breadcrumbs {
  list-style: none;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
    color: #ffffff;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 50px;
    float: left;
}

ul.pagination li a.active {
    background-color: #ffffff;
    color: black;
    border-radius: 50px;
}

ul.pagination li a:hover:not(.active) {
  background-color: #9db1a5;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  color: black;
  background-color: #ffffff;
}

.pan-1 {

}

html,
body {
  min-height: 2420px;
}

body {
  /* Временно для сетки */
  background-image: url("../img/gllacy-catalog-1200.jpg");
  background-size: 1200px auto;
  background-repeat: no-repeat;
}

.main-header {

  /* Временно для сетки */
  border: 1px solid red;
}

.main-navigation {
 display: flex;
 flex-direction: row;
 /* Временно для сетки */
 background-color: transparent;
 border: 1px solid blue;
}

.main-header-logo {
  width: 155px;
  height: 64px;
  border: 1px solid green;
  margin-top: 6px;
  margin-left: 24px;
}

.main-navigation-wrapper {
  width: 1000px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  border: 1px solid skyblue;
}

.site-navigation {
  width: 355px;
  padding: 10px 0 0 0;
  justify-content: space-between;
  list-style: none;
  display: flex;
  flex-direction: row;
  /* Временно для сетки */
  border: 1px solid yellow;
}

.user-navigation {
  width: 240px;
  list-style: none;
  margin-left: auto;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  padding: 10px 0 0 0;
  justify-content: space-between;
  /* Временно для сетки */
  border: 1px solid orange;
}

.work-time {
  display: block;
  width: 250px;
  margin-left: 950px;
  border: 1px solid black;
  padding: 0;
}

.working-time {
  font-size: 12px;
}

.ad-con-main {
  display: flex;
  flex-direction: row;
  border: 1px solid #fa66ff;
}

.ad-con-main {
  width: 1200;
  display: flex;
  flex-direction: row;
  border: 1px solid #fa66ff;
}

.advertising-container1 {
  width: 520px;
  background-color: #880327;
  background-image: url("../img/bg1.png");
  margin-left: 26px;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.advertising-container1 h2 {
  font-size: 30px;
}

.advertising-container1 p {
  width: 500px;
}

.button {
  margin-top: auto;
  margin-left: auto;
}

.advertising-container2 {
  width: 520px;
  height: 200px;
  background-color: #5d3a2d;
  background-image: url("../img/bg2.png");
  margin-left: auto;
  margin-right: 26px;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.advertising-container2 h2 {
  font-size: 30px;
}

.advertising-container2 p {
  width: 500px;
}

.catalog-hits-list {
  height: 370px;
  border: 1px solid #1a287c;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.orange,
.coffee,
.strawberry,
.caramel,
.footer-social,
.footer-info,
.footer-copyright,
.catalog-item {
  border: 1px solid #7c1a4f;
}

.page-title {
  margin: -8px 27px 0 30px;
}

.breadcrumbs {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #07fa1e;
}

.visually-hidden:not(:focus):not(:active),
   input[type="checkbox"].visually-hidden,
   input[type="radio"].visually-hidden {
   position: absolute;

   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;

   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.container {
  width: 1200px;
  margin: -43px auto;
}

.filter {
  display: flex;
  flex-direction: column;
}

.catalog-list {
  
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.catalog-item {
  width: 300px;
}
/*
.row-1,
.row-2,
.row-3 {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
*/
.filter-1 {
  height: 73px;
  display: flex;
  flex-direction: row;
  margin-top: 33px;
  border: 1px solid #4f36ad;

}

fieldset {
  border:none!important;
}

.filter-option {
  list-style: none;
}

.Fett {
  width: 415px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fieling {
  width: 890px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radio {
    display: none;
}

.radio-custom {
    width: 15px;
    height: 15px;
    border: 4px solid #ffffff;
    border-radius: 2px;
    position: relative;
}

.radio-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

.radio:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background: #ffffff;
    border-radius: 2px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
    border-radius: 50%;
}

.font-size {
  font-size: 14px;
  margin-left: 10px;
}

.fieldset-3 {
  height: 20px;
  border: 10px solid #aabcb2;
  border-radius: 40px 50px;
  background: #aabcb2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.filter-2 {
  width: 1200px;
  display: flex;
  flex-direction: row;
  border: 1px solid #3a2780;
}


.fieldset-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 10px solid #aabcb2;
  border-radius: 40px 50px;
  background: #aabcb2;
}
